.form-img-container{
    width: 900px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 5px 10px #aaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img-container{
    width: 50%;
    position: relative;
}
.img-container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 999;
    letter-spacing: 0.6px;
}
.img-container h1{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.from-mar{
    margin: 10px;
}
.form-container{
    width: 50%;
}
.form-container h2{
    margin: 25px 0px;
    text-align: center;
}
.form-item{
    display: flex;
    flex-direction: column;
}
.buttom-container{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.eye-content{
    position: relative;
}
.eye{
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.btn-sty{
    margin-top: 10px;
    color: white;
    background-color: red;
    width: 100%;
}
.btn-border{
    border: 2px solid black;
}
.btn-hovers:hover{
    background-color: rgb(203, 31, 31);
    color: white;
    border: none;
}


@media(max-width: 950px){
    .form-img-container{
        width: 800px;
    }
}
@media(max-width: 850px){
    .form-img-container{
        flex-direction: column;
        width: 600px;
    }
    .img-container{
        display: none;
    }
    .form-container{
        width: 100%;
    }
} 
@media(max-width: 650px){
    .form-img-container{
        width: 500px;
    }
}
@media(max-width: 510px){
    .form-img-container{
        width: 300px;
    }
}