<div class="sidebar-container resSideWidth">
    <i class='fa-solid fa-bars menu-icon'
        (click)="toggleSidebar('.sidebar-container','resSideWidth','.menu-1','res-1','.arr1','rotate1','.menu-2','res-2','.arr2','rotate2')"></i>
    <div class="menu-container pt-1" id="myDIV">
        <div class=" d-flex link p-2" style="cursor: pointer;" routerLink="/main/dashboard">
            <span><i class='fa fa-th-large  icon-col text-white ms-2 icon-col'></i></span>
            <span class="ms-4"><a class="text-white">Deshboard</a></span>
        </div>
        <div class="d-flex p-2 link" style="cursor: pointer;"
            (click)="toggle_1('.menu-1','res-1','.arr1','rotate1','.menu-2','res-2','.arr2','rotate2')">
            <span><i class='fa fa-book icon-col text-white ms-2 icon-col'></i></span>
            <span class="ms-4">
                <li>Record</li>
            </span>
            <span class=""><i class="fa-solid fa-angle-left arrow arr1 "></i></span>
        </div>
        <div class="menu-1">
            <div class="d-flex">
                <span class="w-100">
                    <li class="p-2 link"><a style="padding-left: 49px;" routerLink="/main/record">Add Record 1</a></li>
                    <li class=" p-2 link"><a style="padding-left: 49px;" routerLink="/main/record">Add Record 2</a></li>
                    <li class=" link p-2"><a style="padding-left: 49px;" routerLink="/main/record">Add Record 3</a></li>
                </span>
            </div>
        </div>
        <div class="d-flex p-2 link" style="cursor: pointer;">
            <span><i class='fa fa-file icon-col text-white ms-2 icon-col'></i></span>
            <span class="ms-4" style="overflow: hidden;">
                <li>Report</li>
            </span>
        </div>
        <div class="d-flex p-2 link" style="cursor: pointer;"
            (click)="toggle_2('.menu-2','res-2','.arr2','rotate2','.menu-1','res-1','.arr1','rotate1')">
            <span><i class='fa fa-database icon-col text-white ms-2 icon-col'></i></span>
            <span class="ms-4" style="overflow: hidden;">
                <li>Administration</li>
            </span>
            <span class=""><i class="fa-solid fa-angle-left arrow arr2" style="margin-left: 26px;"></i></span>
        </div>
        <div class="menu-2">
            <div class="d-flex">
                <span class="w-100">
                    <li class="p-2 link"><a style="padding-left: 50px;" routerLink="/main/user">Add User</a></li>
                    <li class="p-2 link"><a style="padding-left: 50px;" routerLink="/main/village">Village</a></li>
                    <li class="p-2 link"><a style="padding-left: 50px;" routerLink="/main/yojana">Yojana</a></li>
                    <li class="p-2 link"><a style="padding-left: 50px;" routerLink="/main/land">Land Type</a></li>
                </span>
            </div>
        </div>
        <div class="d-flex p-2 link" style="cursor: pointer;">
            <span><i class='fa fa-question-circle icon-col text-white ms-2 icon-col'></i></span>
            <span class="ms-4" style="overflow: hidden;">
                <li>Help</li>
            </span>
        </div>
    </div>
</div>