.sidebar-container {
    width: 220px;
    background-color: #253544;
    height: 100%;
    transition: all 0.3s ease-in-out;
    
}
.menu-container{
    overflow: hidden;
}

li {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: block;
}

.menu-icon {
    color: white;
    font-size: 30px;
    padding-top: 8px;
    margin-left: 14px;
    display: none;
}

.arrow {
    color: white;
    cursor: pointer;
    margin-left: 80px;
}

.menu-1 {
    max-height:0;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.res-1 {
    overflow:hidden;
    height:auto;
    max-height:600px;
    background-color: #45515b;
}

.icon-col {
    font-size: 20px;
}

.menu-2 {
    max-height:0;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.res-2 {
    overflow:hidden;
    height:auto;
    max-height:600px;
    background-color: #45515b;
}

.rotate1 {
    transform: rotate(-90deg);
}

.rotate2 {
    transform: rotate(-90deg);
}

.active,
.link:hover {
    background-color: #3498DB;
    color: white;
}

@media(max-width: 1300px) {
    .resSideWidth {
        width: 56px;
    }

    .menu-icon {
        display: block;
    }
}