<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="Obj['name']">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>UserName</mat-label>
    <input matInput type="text" [(ngModel)]="Obj['userName']">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="Obj['email']">
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>MobileNumber</mat-label>
    <input matInput type="number" [(ngModel)]="Obj['mobileNumber']">
  </mat-form-field>
</div>
<div style="text-align: right;">
    <button class="btn btn-danger me-2" (click)="onNoClick()">Close</button>
    <button class="btn btn-success" (click)="updateUser()">Save</button>
</div>